{
    "google": {
        "clientID": "",
        "clientSecret": "",
        "photosAlbumID": "",
        "stateSecret": ""
    },
    "imgur": {
        "clientID": "",
        "albumHash": "",
        "albumDeleteHash": ""
    }
}